
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    font-family: 'Cinzel', serif;
    background-color: darkgrey;
    font-weight: 700;
}

.navbar-brand {
    font-size: 24px;
    padding-right: 20px;
}

.label {
    background-color: darkgrey;
    border: none;
    color: black;
}

.btn {
    border-radius: 1px !important;
}

img {
    max-width: 400px;
    max-height: 400px;
}

div > img {
    border-radius: 1px;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .75);
    font-family: 'Cinzel', serif;
}

.card-body {
    background-color: darkgrey;
}
